# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
testbin/*
build

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.cover

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
